@font-face {
    font-family: Benton Sans Strong;
    src: url(BentonSansMedium.otf);
}

@font-face {
    font-family: Benton Sans;
    src: url(BentonSansRegular.otf);
}

::-webkit-scrollbar { 
    display: none; 
}

#img_box {
    width: 100%;
    text-align: center;
}

#loading {
    margin-top: 225px;
    color: #FFF;
}

.item:hover, .item:hover a {
	/*background: #E6E6E6;*/
    transform:  scale(1.1);
}

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

#field {
	width:500px;
	height:550px;
	overflow-x: hidden;
    padding-top: 5px;
    background-image: -webkit-linear-gradient(rgba(244, 128, 32, 64), #f58020 0.6%, #ef6226 81.2%);
	/*padding:5px 14px 5px 0;*/
}

.item {
	width: 435px;
	height: 75px;
	color: black;
	font-family: Benton Sans, sans-serif;
	padding: 7px 7px 2px 7px;
	text-overflow: ellipsis;
	overflow: hidden;
    margin: 0 auto;
    margin-bottom: 10px;
	/* margin-right: 15px; */
    transition: all .2s ease-in-out;
    box-shadow: 0px 1px 1px 1px rgba(119, 119, 119, 0.2);
    background-color: #FFFFFF;
    border-radius: 2px;
    /*
    transition-property: top, bottom;
    transition-duration: .1s, .1s;
    transition-delay: .1s;
    */
}

a .item {
	color: black;
	font-size: 13px;
}

a {
	text-decoration:none;
}

.headline {
    font-family: Benton Sans Strong, sans-serif;
}

.item img {
	float: left;
	background: white;
	margin-right: 15px;
}

h4 {
	margin-top: 0;
	margin-bottom: 0;
}

.event {
	width: 500px;
	/* 
    margin-right: -15px;
	padding-left: 5px;
    */
    z-index: 1;
}

.time {
    margin-top: 5px;
    color: #5c5a5a;
}

.tag {
    margin-top: 5px;
    color: #777777;
}